.voice {
  background-color: $color-primary;

  .section__title--simple {
    color: $color-white;
  }
}

.voice__title {
  display: inline-block;
  padding: 1.2rem 2.5rem;
  font-size: 2.8rem;
  font-weight: bold;
  color: $color-primary;
  line-height: 1;
  background-color: $color-white;

  @include mobile-window {
    padding: .8rem 2rem;
    font-size: 1.8rem;
  }

  &:nth-last-of-type(1) {
    margin-top: 1rem;

    @include mobile-window {
      margin-top: .5rem;
    }
  }
}

.voice__wrap {
  margin-top: 5rem;
  padding: 4rem;
  width: 100%;
  background-color: $color-white;

  @include mobile-window {
    padding: 1.5rem;
  }
}

.voice__movie {
  position: relative;
  width: 100%;
  height: auto;

  &::before {
    content: '';
    display: block;
    padding-top: 56.25%;
  }

  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

.voice-info__box {
  margin-top: 3rem;

  .name {
    font-size: 2.2rem;
    font-weight: bold;
    color: $color-black;

    @include mobile-window {
      font-size: 1.6rem;
    }
  }

  .text {
    padding-top: 2rem;
    font-size: 1.6rem;
    color: $color-black;

    @include mobile-window {
      font-size: 1.4rem;
    }
  }
}
