.section__title {
  font-size: 0;

  .en {
    font-family: $lato;
    font-size: 1.8rem;
    color: $color-secondary;
    font-weight: bold;
    letter-spacing: .3rem;
    text-align: center;

    @include mobile-window {
      font-size: 1.2rem;
      letter-spacing: .15rem;
    }
  }

  .ja {
    padding: 3rem 0 0;
    font-family: $font-init;
    font-size: 2.8rem;
    color: $color-primary;
    letter-spacing: .1rem;
    text-align: center;

    @include mobile-window {
      font-size: 2.4rem;
    }
  }
}

.section__title--simple {
  font-size: 3.2rem;
  font-weight: bold;
  text-align: center;
  color: $color-primary;

  @include mobile-window {
    font-size: 2.2rem;
  }
}

.point__intro {
  font-size: 1.6rem;
  font-weight: bold;
  color: $color-black;
  text-align: center;
  letter-spacing: .25rem;
  line-height: 1.8;

  @include mobile-window{
    font-size: 1.4rem;
    letter-spacing: .15rem;
  }
}

.c-ttl--h3 {
  padding-left: 1rem;
  font-size: 2.6rem;
  font-weight: bold;
  color: $color-black;
  border-left: 5px solid $color-black;

  @include mobile-window {
    font-size: 2rem;
  }
}
